---
layout: page
title: Confirm Quality, Eliminate Risks in your Serverless applications.
description: Construct automated quality assessment pipelines for your Serverless applications across deployments and environments, make deployment stress free and eliminate your engineering toil.
permalink: /
image: /site-icon.png
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">
            CONFIRM QUALITY.<br>
            ELIMINATE RISK.</h1>
          <p class="animated fadeInUp">
            Construct automated quality assessment pipelines for your Serverless
            applications across deployments and environments.
          </p>
          <a href="./quick-start/" class="btn btn-call btn-lg">
            Try It Free
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="feature">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-6">
        <h2>Quality Challenge in Serverless</h2>
        <p>
          Engineers continue using mocking and staging environments as a primary
          testing strategy, which is more complex when your application is
          serverless. Therefore, teams spend twice as much time maintaining
          these imitations around genuine cloud services. The best effort
          simulation of the real environment is the real environment itself.
          Build automated and safe <b>“testing in production”</b> using pure functional
          and typesafe approach as part of your CI/CD pipelines.
        </p>
        <a href="./quick-start/" class="btn btn-primary btn-lg">
          Learn More
        </a>
      </div>
    </div>
  </div>
</section>


<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>Make deployment stress free</h2>
          </div>
          <p>
            Engineers check applications against known and predictable issues to
            raise confidence and reduce uncertainty about a release.
            In a serverless world, testing is often limited to individual
            functions, which makes it easy to overlook interdependencies across
            the application. Unknowns go undetected, which causes anxiety when
            releasing and surprising system failures. Effortless continuous
            <b>"testing in production"</b> is the only solution for stress free
            releases.
          </p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-md-offset-0 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <div class="block">
          <img src="img/happy_feeling.svg" alt="Make deployment stress free">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>


<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>Save time and eliminate your engineering toil</h2>
          </div>
          <p>
            Mocking and stubbing of cloud dependencies are essential in unit
            testing of Serverless applications. Engineers spend time mocking
            the nuances of the real services and toil to keeping them up to date.
            Despite weekly maintenance effort, they get out of sync quickly.
            The best effort simulation of the real environment is the real
            environment itself. Use <b>assay.it</b> to annihilate coding boredom by
            validating critical paths of applications using automated
            <b>“testing in production”</b> techniques.
          </p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/time_management.svg" alt="Save time and eliminate your engineering toil">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>


<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>Minute of downtime costs customer loyalty</h2>
          </div>
          <p>
            Customer trust is hard to earn if your Serverless application is
            glitching. Applications have to serve their customers according to
            the value they promise and ensure a great experience, otherwise
            customers find another product for their needs. Use an automated
            solution to continuously detect issues in every change before a
            full blown outage erases the trust you built.
          </p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/having_fun.svg" alt="Minute of downtime costs customer loyalty">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>


<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>Commit and Go</h2>
          </div>
          <p>
            The absence of a strong typesafe approach on quality assurance for
            Serverless applications causes additional overhead and time loss in
            the development cycle. <b>assay.it</b> is designed to perform a formal
            proof of quality using typesafe Behavior as a Code paradigm.
            Just write pure functional code instead of clicking through the UI
            or maintaining endless XML, YAML or JSON documents.
          </p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/version_control.svg" alt="Commit and Go">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>


<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Proof a Serverless Quality like a PRO</h2>
        <p>
          Use <b>assay.it</b> features to define a right philosophy and 
          commitment that ensures the always ready state of your code
        </p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-cash"></i>
          <h4>Reduce Cost</h4>
          <p>
            Eliminate toil from engineering, focus your effort towards business
            features development
          </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-ios-timer"></i>
          <h4>Increase Speed</h4>
          <p>
            Unlocks the opportunity to release software at any point in time,
            deploy faster, safer & more often
          </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-ios-cloud"></i>
          <h4>Cloud Native</h4>
          <p>
            Automate quality of your AWS, GCP and Azure applications in one
            solution, expand unified QA processes on prem
          </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-ios-pulse-strong"></i>
          <h4>Safe Testing in Live</h4>
          <p>
            Build holistic strategies with proper isolation of tests traffic in
            an automated manner for your live environments
          </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-code-working"></i>
          <h4>Work with Code</h4>
          <p>
            Write pure functional and typesafe code instead of clicking through
            UI or maintaining endless XML, YAML or JSON
          </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-ios-flask"></i>
          <h4>CI/CD pipelines</h4>
          <p>
            Accomplish automated and repeatable processes by coding the entire
            delivery chain with continuous proof of the quality
          </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-ios-cog"></i>
          <h4>Easy Integrations</h4>
          <p>
            Out-of-the-box quality assurance orchestration with REST APIs and
            command line utility
          </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-pull-request"></i>
          <h4>Quality of each change</h4>
          <p>
            Eliminate defects at earlier phases of the feature lifecycle,
            ensuring that your applications are always in a release-ready state
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Confirm Quality, Eliminate Risks in your Serverless applications</h2>
          <p>
            Quality assurance is more complex when your application is serverless.
            Engineering teams with a serverless app spend twice as much time
            maintaining test environments and mocking cloud dependencies.
            Time that is better spent building loyal relationships with their
            customers. <b>assay.it</b> has you covered.
          </p>
          <a class="btn btn-call btn-lg" href="https://github.com/login/oauth/authorize?client_id=6941f2acf659df65f37e&response_type=code&scope=repo%3Astatus&state=%7B%22vsn%22%3A%22v6%22%2C%22cid%22%3A%226941f2acf659df65f37e%22%2C%22url%22%3A%22https%3A%2F%2Fapi.assay.it%2Fauth%2Fhook%2Fgithub%22%2C%22acc%22%3A%22oss%22%2C%22upg%22%3Afalse%7D" >
            SignUp with GitHub
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content Start -->
<!--
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About Us</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
-->