---
layout: page
title: Confirm Quality, Eliminate Risks in your Serverless applications.
description: Quality assurance of serverless applications requires twice as much time maintaining testing environments and mocks of cloud dependencies instead of building a loyal relationship with your customers.
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">
            CONFIRM QUALITY.<br>
            ELIMINATE RISK.</h1>
          <p class="animated fadeInUp">
            Construct automated quality assessment pipelines for your Serverless applications across deployments and environments.
          </p>
          <a href="./quick-start/" class="btn btn-call btn-lg">
            Try It Free
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="feature">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-6">
        <h2>Quality of Serverless applications</h2>
        <p>
          Quality assurance of serverless applications is more complex than
          doing it for other runtimes. Engineering teams spend twice as much
          time for maintaining testing environments and mocking cloud
          dependencies instead of building a loyal relationship with their
          customers, assay.it has you covered.
        </p>
        <a href="#" class="btn btn-info">
          Sign Up with GitHub
        </a>
      </div>
    </div>
  </div>
</section>


<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>Do not suffer from deployment anxiety</h2>
          </div>
          <p>
            Engineers reduce uncertainty and raise confidence about the quality
            by checking applications against known or predictable issues.
            Serverless testing is often implemented at the level of an
            individual function rather than the entire application.
            Unknowns remain undetected and will cause surprising failures
            together with anxiety. Effortless, continuous 
            <b>“testing in production”</b> is only the solution for zero-risk releases.
          </p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/happy_feeling.svg" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>


<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>Save time and eliminate your engineering toil</h2>
          </div>
          <p>
            Mocking and stubbing of cloud dependencies are essential in unit
            testing of Serverless applications. It becomes a requirement to keep
            them identical with real services, engineers have to mock nuances of
            real services. They quickly get out of sync despite the weekly toil
            maintenance effort. The best effort simulation of the real
            environment is the real environment itself. Annihilate coding
            boredom by validating critical paths of applications using automated
            <b>“testing in production”</b> techniques.
          </p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/time_management.svg" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>


<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>Minute of downtime cost customer loyalty</h2>
          </div>
          <p>
            Customer trust is hard to earn if your Serverless application is
            glitching. Applications have to serve their customers according to
            the value it promises and ensure great experience, otherwise
            customers find another product for their needs. Use an automated
            solution to continuously detect issues in every change before a
            full blow outage is slapped on the customer face.
          </p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/having_fun.svg" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>


<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>Commit and Go</h2>
          </div>
          <p>
            The absence of a strong typesafe approach on quality assurance
            development of Serverless applications causes additional overhead
            and time loss in the development cycle. assay.it is designed to
            perform a formal proof of the quality using typesafe Behavior as a Code
            paradigm. Just write pure functional code instead of clicking
            through UI or maintaining endless XML, YAML or JSON documents.
          </p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/version_control.svg" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>


<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Proof a Serverless Quality like a PRO</h2>
        <p>
          Use <b>assay.it</b> features to define a right philosophy and 
          commitment that ensures the always ready state of your code
        </p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-cash"></i>
          <h4>Reduce Cost</h4>
          <p>
            Eliminate toil from engineering, focus your effort towards business
            features development
          </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-ios-timer"></i>
          <h4>Increase Speed</h4>
          <p>
            Unlocks the opportunity to release software at any point in time,
            deploy faster, safer & more often
          </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-ios-cloud"></i>
          <h4>Cloud Native</h4>
          <p>
            Automate quality of your AWS, GCP and Azure applications in one
            solution, expand unified QA processes on prem
          </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-ios-pulse-strong"></i>
          <h4>Safe Testing in Live</h4>
          <p>
            Build holistic strategies with proper isolation of tests traffic in
            an automated manner for your live environments
          </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-code-working"></i>
          <h4>Work with Code</h4>
          <p>
            Write pure functional and typesafe code instead of clicking through
            UI or maintaining endless XML, YAML or JSON
          </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-ios-flask"></i>
          <h4>CI/CD pipelines</h4>
          <p>
            Accomplish automated and repeatable processes by coding the entire
            delivery chain with continuous proof of the quality
          </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-ios-cog"></i>
          <h4>Easy Integrations</h4>
          <p>
            Out-of-the-box quality assurance orchestration with REST APIs and
            command line utility
          </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-pull-request"></i>
          <h4>Quality of each change</h4>
          <p>
            Eliminate defects at earlier phases of the feature lifecycle,
            ensuring that your applications are always in a release-ready state
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Confirm Quality, Eliminate Risks in your Serverless applications</h2>
          <p>
            Quality assurance of serverless applications is more complex than
            doing it for other runtimes. Engineering teams spend twice as much
            time for maintaining testing environments and mocking cloud
            dependencies instead of building a loyal relationship with their
            customers, assay.it has you covered.
          </p>
          <a class="btn btn-call btn-lg" href="#" >
            SignUp with GitHub
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content Start -->
<!--
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About Us</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
-->