<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li>
              <a href="https://twitter.com/ItAssay" target="_blank" rel="noreferrer">
                {% include social-icon.html icon="Twitter" %}
              </a>
            </li>
            <li>
              <a href="https://assay-it.slack.com/" target="_blank" rel="noreferrer">
                {% include social-icon.html icon="Slack" %}
              </a>
            </li>
            <li>
              <a href="https://github.com/assay-it" target="_blank" rel="noreferrer">
                {% include social-icon.html icon="GitHub" %}
              </a>
            </li>
            <li>
              <a href="{{ site.baseurl }}/feed.xml">
                {% include social-icon.html icon="RSS" %}
              </a>
            </li>

            <li><a href="{{ site.baseurl }}/blog/">Blog</a></li>
            <li><a href="{{ site.baseurl }}/tos">Terms</a></li>
          </ul>
        </div>
        <p>Copyright &copy; 2019 - 2020 <img src="{{ site.baseurl }}/img/logo.svg" width=19 height=19 alt="Confirm Quality, Eliminate Risks with assay.it"/> assay.it All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>

<!-- Js -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/js/owl.carousel.min.js"></script>
<script src="{{ site.baseurl }}/js/plugins.js"></script>
<script src="{{ site.baseurl }}/js/jquery.counterup.js"></script>
<script src="{{ site.baseurl }}/js/main.js"></script>

