<!-- Header Start -->
<header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- header Nav Start -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/">
              <img class="site-logo" src="{{ site.baseurl }}/img/logo.svg" alt="Confirm Quality, Eliminate Risks with assay.it">
            </a>
          </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ site.baseurl }}/">Home</a></li>
                <!--
                <li><a href="{{ site.baseurl }}/blog/">Blog</a></li>
                -->
                <li><a href="{{ site.baseurl }}/doc/">Docs</a></li>
                <!--
                <li><a href="https://github.com/login/oauth/authorize?client_id=6941f2acf659df65f37e&response_type=code&scope=repo%3Astatus&state=%7B%22vsn%22%3A%22v6%22%2C%22cid%22%3A%226941f2acf659df65f37e%22%2C%22url%22%3A%22https%3A%2F%2Fapi.assay.it%2Fauth%2Fhook%2Fgithub%22%2C%22acc%22%3A%22oss%22%2C%22upg%22%3Afalse%7D" class="btn btn-primary">Sign In</a></li>
                -->
                <li><a href="https://github.com/assay-it/assay-it" class="btn btn-primary">GitHub</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      </div>
    </div>
  </div>
</header><!-- header close -->
