.hero {
	color: #ffffff;
	text-align: center;
	padding-bottom: 15px;

	@media #{$portrait} {
		height: 100vh;
		min-height: 550px;
	}

	background: rgb(31,75,153);
	@media #{$portrait} {
		background: linear-gradient(90deg, rgba(31,75,153,1) 0%, rgba(86,66,166,1) 100%);
	}

	&:before {
		content: "";
		background-color: #182026;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 60px;
	}

	p {
		color: #fff;
	}

	.inner-hero {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		height: 100%;

		@media #{$mid-point} {
			align-content: center;
			align-items: center;
			height: 100vh;
		}

		.text  {
			order: 2;
			margin-top: 30px;
			text-align: central;
			width: 100%;
			@media #{$landscape} {
				order: 1;
				width: 70%;
				margin-top: 0;
				text-align: left;
			}
		}

		.image {
			order: 1;
			margin-top: 70px;
			width: 80%;

			@media #{$portrait} {
				width: 40%;
			}

			@media #{$landscape} {
				order: 2;
				display: block;
				width: 30%;
				margin-top: 0;
			}
		}

		.other {
			order: 3;
			width: 100%;

			@media #{$mid-point} {
				margin-top: 2em;
				text-align: left;
			}

			.subtext {
				font-size: 1em;
				@media #{$mid-point} {
					font-size: 1.38em;
				}
			}
		}
	}

	.hero-text-container {
		width: 100%;
		text-align: left;

		@media #{$mid-point} {
			width: 70%;
		}
	}

	.hero-text-right {
		position: absolute;
		right: 0;
	}
}

.hero-page {
	background-size: cover;
	background-position: center center;
	height: 100vh;

	.inner-hero {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		height: 100%;

			align-content: center;
			align-items: center;
			height: 100vh;
	}
}

.text
{
	display: inline-block;
	@media #{$landscape} {
		width: 50%;
	}
}

.image
{
	display: inline-block;
	text-align: center;
	@media #{$landscape} {
		width: 48%;
	}
}

.bottom-cta {
	text-align: center;

	h2 {
		margin-bottom: 12px;
	}
}

@media #{$landscape} {
	.flex {
		@include flexbox;
		align-items: center;
		flex-direction: row;
	}

	.content section:nth-child(even) .flex {
		flex-direction: row-reverse;
	}
}

.learn-more {
	display: none;
	@media #{$mid-point} {
		display: block;
	}
}