.hero {
	color: #ffffff;
	text-align: center;
	height: 100vh;
	min-height: 550px;
	background-color: $brand-color;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position-x: 0%;
	background-position-y: 90%;
	// background-size: cover;
	// background-position: center center;

	@media #{$mid-point} {
		background-position-x: 95%;
		background-position-y: 80%;
		background-size: 80%;
	}

	@media (min-width: 1250px) {
		background-position-x: 95%;
		background-position-y: 50%;
		background-size: 60%;
	}

	&:before {
		content: "";
		// background: linear-gradient(to bottom,rgba(0,0,0,.65) 0,rgba(0, 0, 0, 0) 100%);
		background-color: #182026;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		// height: 300px;
		height: 60px;
}

	p {
		color: #fff;
	}

	.inner-hero {
		display: flex;
		align-items: center;
		height: 100%;
	}

	.hero-text-container {
		width: 100%;
		text-align: left;

		@media #{$mid-point} {
			width: 70%;
		}

		h1, h2, p, .button {
			text-shadow: black 0px 0px 10px;
			/*text-shadow: 1px 1px 1px rgba(0,0,0,.8);*/
		}
	}

	.hero-text-right {
		position: absolute;
		right: 0;
	}
}

.hero-page {
	background-size: cover;
	background-position: center center;
}

.image {
	text-align: center;
}

.bottom-cta {
	text-align: center;

	h2 {
		margin-bottom: 12px;
	}
}

@media #{$desktop} {
	.flex {
		@include flexbox;
		align-items: center;
		flex-direction: row;

		.text, .image {
			-webkit-flex: 1;
			flex: 1;
			padding: 0 20px;
		}
	}

	.content section:nth-child(even) .flex {
		flex-direction: row-reverse;
	}
}
