$brand-color: #2458B3;

// Breakpoints
$smartphone: "(min-width: 320px)";
$portrait: "(min-width: 767px)";
$landscape: "(min-width: 1023px)";
$hd: "(min-width: 1279px)";
$fullhd: "(min-width: 1919px)";

//
$mid-point: "(min-width: 768px)";
$desktop: "(min-width: 1248px)";
$tablet: "(min-width: 768px)";
